.controls {
    width: 50rem;
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin:auto;
    border-radius: 5px;
    padding: 32px 0;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.07);
}
.price p {
    color: rgb(221, 0, 0);
    font-weight: bold;
    font-size: 1.2rem;
}

.order-btn {
    background-color: rgb(214, 3, 3);
    outline: none;
    border: none;
    border-radius: 3px;
    color:bisque ;
    font: inherit;
    padding: 16px 32px;
    margin-top: 32px;
}